:root {
  /* colors */
  --white: hsl(0 100% 100%);
  --black: hsl(0 0% 0%);
  --cyan-400: hsl(178 100% 50%);
  --blue-500: hsl(215 51% 70%);
  --blue-800: hsl(215 32% 27%);
  --blue-900: hsl(216 50% 16%);
  --blue-950: hsl(217 54% 11%);

  /* semantic colors */
  --clr-bg-body: var(--blue-950);
  --clr-bg-card: var(--blue-900);
  --clr-text-primary: var(--blue-500);
  --clr-text-accent: var(--cyan-400);
  --clr-link: var(--white);
  --clr-link-hover: var(--cyan-400);
  --clr-border: var(--blue-800);
  --clr-border-avatar: var(--white);

  /* typography */
  --font-sans: "Outfit", sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semibold: 600;
  --fs-base: 1rem; /* 16px */
  --fs-lg: 1.125rem; /* 18px */
  --fs-xl: 1.375rem; /* 22px */
  --lh-tight: 1.25;
  --lh-normal: 1.45;

  /* spacing */
  --space-100: 8px;
  --space-200: 16px;
  --space-300: 24px;

  /* sizing */
  --max-card: 21.875rem; /* 350px */
  --max-avatar: 2.0625rem; /* 33px */

  /* border */
  --border: 1px solid var(--clr-border);

  /* border radius */
  --radius-sm: 8px;
  --radius-lg: 15px;

  /* box shadow  */
  --shadow: 0 25px 50px 0 hsl(0 0% 0% / 0.0953);
}

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/Outfit-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--clr-bg-body);
  color: var(--clr-text-primary);
  font-family: var(--font-sans);
  font-size: var(--fs-lg);
  font-weight: var(--fw-light);
  line-height: var(--lh-normal);
}

/* --- utility classes ---- */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.link {
  text-decoration: none;
  color: var(--clr-link);
  transition: color 0.1s ease-in;
}

.link:hover {
  color: var(--clr-link-hover);
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

/* ---- end of utility classes --- */
